@tailwind base;
@tailwind components;

/* // Repeat this for all the weights you downladed */
@font-face {
  font-family: 'Telegraf';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../public/fonts/Telegraf-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'Telegraf';
  font-style: bold;
  font-weight: 600;
  src: local(''), url('../public/fonts/Telegraf-UltraBold.otf') format('opentype');
}
@font-face {
  font-family: 'Telegraf';
  font-style: light;
  font-weight: 200;
  src: local(''), url('../public/fonts/Telegraf-UltraLight.otf') format('opentype');
}

@tailwind utilities;
